@page "/"

<div class="welcome-card p-3">
    <h3>
        <span>Välkomna</span>
        <span class="blue-text">spelare</span>
        <span>!</span>
    </h3>

    <p>Välkommen till Knowit Örebros bingo-mingel!</p>
    <br />
    <p>
        Vi ska nu mingla och prata med varandra för att ta reda på information och fylla i bingo-kortet under <a href="/bingocard">fliken bingo</a>!
        Den eller de som lyckas fylla i hela sitt bingo-kort kommer att ge ett poäng till sitt lag.
        Observera att du endast får använda en person per svar!
    </p>
    <br />
    <p>Vi kommer senare att gå igenom korten tillsammans!</p>
    <br />
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1" />
        </svg>
        Tänk på att det kan finnas fler personer med samma namn, tips är att skriva exempelvis "Jane D"
    </p>
</div>